* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

body {
    background-color: #040B13;
    opacity: 0.9;
    background-image:  radial-gradient(#ffffff 1.6px, transparent 1.6px), radial-gradient(#ffffff 1.6px, #040B13 1.6px);
    background-size: 64px 64px;
    background-position: 0 0,32px 32px;
}